html {
    font-family: 'Space Grotesk', sans-serif;
}
.fancy-header {
    color: purple;
    text-align: center;
    text-decoration: underline;
}
body {
    background-color: grey;
    /*background-image: url("https://mcdn.wallpapersafari.com/medium/3/50/w2tx95.jpg");*/
    /*background-size: cover;*/

    /*!* Set rules to fill background *!*/
    /*min-height: 100%;*/
    /*min-width: 1024px;*/

    /*!* Set up proportionate scaling *!*/
    /*width: 100%;*/
    /*height: auto;*/

    /*!* Set up positioning *!*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}
h2 {
    color: black;
    text-decoration: underline;
}
ul {
    list-style: square;
}
ol {
    list-style: circle;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid darkslategrey;
}
thead th:nth-child(1) {
    width: 30%;
}
thead th:nth-child(2) {
    width: 20%;
}
thead th:nth-child(3) {
    width: 15%;
}
thead th:nth-child(4) {
    width: 35%;
}
th,
td {
    padding: 20px;
}
tbody tr:nth-child(odd) {
    background-color: grey;
}

tbody tr:nth-child(even) {
    background-color: dimgrey;
}
a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: navy;
}
a:active {
    color: darkred;
}